/* alternate box model for the document */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}


*,
*::before,
*::after {
  box-sizing: inherit;
}

/* ------------------------------------ */

body {
  padding: 20px;
  font-family: 'Playfair Display', serif;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

.titolo {
  font-size: 64px;
  font-weight: 1000;
  background-color: green;
  color: white;
  border: 5px solid green;
  text-align: center;
}

/* .contents {
  display: flex;
  justify-content: space-between;
} */

.table-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabella-workout {
  gap: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabella-workout table {
  margin: 10% 0;
  border-collapse: collapse;
  min-width: 500px;
}

table {
  border-collapse: collapse;
  min-width: 500px;
}

table th {
  font-size: 32px;
  border: 2px solid green;
  background-color: green;
  color: white;
}

table .table-title {
  font-size: 48px;
}

table tr:nth-child(even) {
  background-color: #A0A0A0;
}

table td {
  text-align: center;
}

.menu {
  flex: 0;
  /* border: 1px solid red; */
  position: fixed;
  top: 39%;
  right: 1.5%;
  background-color: rgba(0, 128, 0, 0.75);
  border-radius: 8px;
  padding: 20px;
  border: 1px solid black;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu li {
  font-size: 18px;
}

.week-plan,
.esercizi {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-day {
  color: blue;
}

.table-day-A {
  color: red;
}

.table-day-B {
  color: green;
}

.table-day-rest {
  color: lightgrey;
}

a,
a:visited {
  color: black;
  text-decoration: none;
}

.esercizi {
  margin-top: 10%;
}